@model OrderLife.Models.Finances

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
   
   
<p>If you are still following this tutorial, I can only assume it is because, as a person from the 18th century, you cannot operate a computer
and so have been hitting random keys and ended up  here accidentally. BUT while you're here, it may help you to acquaint yourself with typical
21st century expenses.</p>
<p>You are about to make a bare-bones budget. It can be 100% accurate to your situation, if the numbers you submit are 100% accurate.</p> 
<p>Some of these general expenses may not apply to you, in which case submit a $0 for that expense. And you may have some expenses that are not
listed, which you can add up and place in the 'Other' category.</p>
        <p>
            <input type="submit" value="Okey DOke" />
        </p>
 
}


