@model OrderLife.Views.Finance.ViewModels.FinancesViewModelIndex

@{
    ViewBag.Title = "Index";
}

<h2>Finances</h2>


<p>After having created new--Behold your rough money plot. You're becoming more on-the-ball already. How about we take a look at your 
   @Html.ActionLink("Health", "HealthHub1", "Health")? 
</p>

<table id = "budgetable">    

@foreach (var item in Model.finances) {
    
<tr><th>Budget Categories</th><th>Dollars/Month</th></tr>
       
        <tr>
            <td>Room</td>
            <td>$@Html.DisplayFor(modelItem => item.Room)</td>
        </tr>
        <tr>
            <td>Gas(Utility)</td>
            <td>$@Html.DisplayFor(modelItem => item.GasHouse)</td>
        </tr>
        <tr>
            <td>Electricity</td>
            <td>$@Html.DisplayFor(modelItem => item.Electricity)</td>
        </tr>
        <tr>
            <td>Water</td>
            <td>$@Html.DisplayFor(modelItem => item.Water)</td>
        </tr>
        <tr>
            <td>Other Utilities</td>
            <td>$@Html.DisplayFor(modelItem => item.OtherUtilities)</td>
        </tr>
        <tr>
            <td>Car Payment</td>
            <td>$@Html.DisplayFor(modelItem => item.CarPayment)</td>
        </tr>
        <tr>
            <td>Car Insurance</td>
            <td>$@Html.DisplayFor(modelItem => item.CarInsurance)</td>
        </tr>
        <tr>
            <td>Gas(Car)</td>
            <td>$@Html.DisplayFor(modelItem => item.GasCar)</td>
        </tr>
        <tr>
            <td>Public Transportation Costs</td>
            <td>$@Html.DisplayFor(modelItem => item.PublicTransportation)</td>
        </tr>
        <tr>
            <td>Other Transportation</td>
            <td>$@Html.DisplayFor(modelItem => item.OtherTransportation)</td>
        </tr>
        <tr>
            <td>Cell Phone</td>
            <td>$@Html.DisplayFor(modelItem => item.CellPhone)</td>
        </tr>
        <tr>
            <td>House Phone</td>
            <td>$@Html.DisplayFor(modelItem => item.HousePhone)</td>
        </tr>
        <tr>
            <td>TV Plan</td>
            <td>$@Html.DisplayFor(modelItem => item.TVPlan)</td>
        </tr>
        <tr>
            <td>Internet</td>
            <td>$@Html.DisplayFor(modelItem => item.Internet)</td>
        </tr>
        <tr>
            <td>Other Media Costs</td>
            <td>$@Html.DisplayFor(modelItem => item.OtherMedia)</td>
        </tr>
        <tr>
            <td>Loan Payments</td>
            <td>$@Html.DisplayFor(modelItem => item.LoanPayments)</td>
        </tr> 

        <tr>
            <td>Other Monthly Debt Payments</td>
            <td>$@Html.DisplayFor(modelItem => item.OtherMonthlyLoanPayments)</td>
        </tr>
        <tr>
            <td>Other</td>
            <td>$@Html.DisplayFor(modelItem => item.Other)</td>
        </tr>
        <tr>
            <td>Food</td>
            <td>$@Html.DisplayFor(modelItem => item.Food)</td>
        </tr>
        <tr>
            <td>Income</td>
            <td>$@Html.DisplayFor(modelItem => item.Income)</td>
        </tr>
         <tr>
            <td><b>Monthly Remainder</b></td>
            <td>$@Html.DisplayFor(modelItem => item.Remainder)</td>
        </tr>
        <tr>
            @Html.ActionLink("Edit Budget", "Edit", new { id = item.ID }) |
        </tr>
      <tr>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
        </tr> 
}
 <tr>
            @Html.ActionLink("Create New Budget", "Create") 
        </tr>
</table>
