@{
    ViewBag.Title = "Home Page";
}

<h2>Feel free to order your life.</h2>
<p>Would you like help managing your time?</p>
    @Html.ActionLink("OrderTime", "Index", "Time")
<p>Would you like to organize your health needs?</p>
    @Html.ActionLink("OrderBody", "HealthHub1", "Health")



